@import "styles/settings/__settings";

.items {
    @include media("<note") {
        background-image: none !important;
        color:#343434 !important; 
    }
    @include media(">note") {
        position: relative;
        color:white;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
    }
    .overlay {
        @include media(">note") {
            position: absolute;
            background-color:rgba(0,0,0,0.3);
            height: 100%;
            width:100%;
            z-index: 1;
        }
    }
    .content {
        position: relative;
        z-index: 2;
        @include media("<note") {
            padding:3rem 0 !important;
        }
        @include media(">note", "<laptop") {
            padding:3rem 1rem !important;
        }
        @include media(">laptop") {
            padding: calc(3rem + 80px) 3rem;
        }
        .heading {
            margin-bottom: 3em;
        }
        .container {
            padding:0;
        }
        .item {
            display:flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-bottom: 30px;
            @include media(">tablet") {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
            }
            &__image {
                display: block;
                height:auto;
                max-width: 100%;
                width: 100%;
                height:300px;
                @include media(">note") {
                    flex:0 0 220px;
                    border-top-left-radius: 180%;
                    border-bottom-left-radius: 140%;
                    border-top-right-radius: 380%;
                    border-bottom-right-radius:160%;
                    width:220px;
                    margin:0 auto;
                    max-height: 150px;
                    min-height: 150px;
                    overflow: hidden;
                    box-shadow: 0 3px 30px rgba(0,0,0,0.2);
                    > span {
                        min-height: 150px;  
                     }
                }
                > a {
                    display: block;
                    width: 100%;
                    height:300px;
                    overflow: hidden;
                    @include media(">note") {
                        width:220px;
                        height:150px;
                        max-height: 150px;
                        max-width: 220px;
                    }
                    > span {
                        position: relative !important;
                        width: 100% !important;
                        height:300px !important;
                        @include media(">note") {
                            height: 150px !important;
                            width: 220px !important;
                            position: relative !important;
                        }
                    }
                }
            }
            &__content {
                display: block;
                flex: 1 1 100%;
                max-width: 350px;
                align-self: center;
                @include media("<note") {
                    padding:3em 3em 0 3em;
                    text-align: left !important;
                }
                @include media(">note") {
                    padding: 30px 0;
                    flex:1 1 auto;
                    max-width: auto;
                }
                @include media(">tablet") {
                    padding: 0 30px;
                }
                h4 {
                    @include media("<note") {
                        @include font-size(30px);
                        font-weight: 900;
                        font-style: italic;
                        margin-top: -15px;
                        margin-bottom: 30px;
                        font-size: clamp(24px, 4vw, 65px);
                    }
                    margin-bottom: 20px;
                }
                p {
                    @include font-size(16px);
                    margin-bottom: 20px;
                    @include media("<note") {
                        text-align: left !important;
                    }
                }
            }
            &__link {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                width: auto;
                @include font-size(16px);
                color: #343434;
                text-transform:capitalize;
                text-decoration: none;
                font-weight: 500;
                font-style: italic;

                @include media("<note") {
                    color: #fff;
                    font-family: inherit;
                    font-size: 18px;
                    line-height: 1;
                    height: 60px;
                    padding:0 20px;
                    text-transform: uppercase;
                    font-weight: 500;
                    background-color: #e2211c;
                    display: inline-block;
                    width: auto;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    border: 2px solid #fff;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    > span {
                        display:block;
                        margin:0;
                        line-height: 60px;
                        padding:0;
                    }
                    > div {
                        display: none;
                    }
                }


                 @include media(">note") {
                    color: #fff;
                 }
                @include media(">tablet") {
                    justify-content:flex-start;
                }
                span {
                    display: inline-block;
                    padding-right:10px;
                }
                div {
                    transition: all 0.2s ease-in-out;
                }
                &:hover {
                    div {
                        margin-left:30px;
                    }
                }
            }
        }
    }
    .carousel_container {
        padding-bottom:60px;
    }
    .custom_dots {
        display: flex;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding:30px;
        z-index: 1;
        li  {
            margin: 5px 0;
            button {
                border: none;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border:2px solid white;
                border-radius: 50%;
                box-shadow:0 0 12px rgba(0,0,0,0.2);
                padding: 5px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }
            &:focus {
                outline: none;
            }
            &.react-multi-carousel-dot--active {
                button {
                    background: $color-alt;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }   
} 