@import "styles/settings/__settings";

.section {
    position: fixed;
    top: 0;
    left:auto;
    right:auto;
    width: 100%;
    background-color: $color-alt;
    color:white;
    z-index:100;
    line-height: 1;
    height: 60px;
    a {
        color:white;
        font-weight: 500;
        text-decoration: none;
    }
    p {
        font-size: clamp(14px, 4vw, 16px);
    }
}