@import "styles/settings/__settings";

.section {
    position: relative;
    padding:0;
    z-index: 1;
    .content {
        padding:3em 0 0 0;
    }
    .column {
        margin-bottom:60px;
        @include media(">laptop") {
            margin-bottom:0;
        }
    }
    .ticketCategory {
        @include font-size(18px);
        font-weight: 700;
    }
    .ticketDetails {
        a {
            display:flex;
            justify-content: center;
            align-items: center;
            text-decoration:none;
            color:$text-color;
            @include font-size(14px);
        }
        > span {
          margin-right:5px;
        }
      }
    .wave {
        overflow: hidden;
        position: relative;
        z-index: 3;
        margin-bottom: -180px;
        margin-top: -1px;
        > figure {
            width:100%;
        }
    }
}