@import "styles/settings/__settings";

.prices {
    color: $text-color;
    margin-bottom: 30px;
    h4 {
      @include font-size(20px);
      margin-bottom: 20px;
    }
    .price {
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom:15px;
      p {
        @include font-size(16px);
        margin:0;
        color: $text-color;
        span {
          font-weight: 300;
        }
        strong {
          font-weight: 600;
        }
      }
      .ticketTitle {
        flex:1 1 80%;
      }
      .ticketPrice {
        flex:1 1 20%;
        padding:0 5px;
        text-align: right;
      }
      .ticketAdvPrice {
        flex:1 1 20%;
      }
      .ticketPriceUrl {
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
  .loadMore {
    color: $color-alt;
    font-style: italic;
    cursor: pointer;
  }
