@import "grid";
@import "styles/settings/__settings";
@import "style.css";

* {
  box-sizing: border-box;
  font-family: $font-family-default;
}

html {
  overflow-x: hidden;
}

:root,
html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-default;
  @include font-size(16px);
  transition: all 0.2s ease-in-out;
}

p {
  @include font-size(16px);
  line-height: 1.6;
  margin: 1.2em 0;
  font-weight: 300;
}

ul {
  padding-left: 1.2em;
}

a {
  color: $color-primary;
}

img {
  max-width: 100%;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;
  }
}

table {
  display: table;
  background-color: transparent;
  border: none;
  width: 100%;
  max-width: 100%;
  thead,
  tbody {
    width: 100%;
    max-width: 100%;
  }
  tr {
    width: 100%;
    max-width: 100%;
    border: none;
    border-bottom: 2px solid $grey;
    background-color: transparent;
    &:last-child {
      border-bottom: 0;
    }
    th,
    td {
      background-color: transparent;
      border-bottom: none;
      border-top: none;
      border-left: 2px solid $grey;
      border-right: 2px solid $grey;
      padding: 5px;
      @include font-size(12px);
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
      @include media(">note") {
        @include font-size(14px);
        padding: 10px;
      }
      @include media(">tablet") {
        @include font-size(14px);
        padding: 10px 15px;
      }
      @include media(">laptop") {
        @include font-size(14px);
        padding: 10px 15px;
      }
    }
  }
}

.table-responsive-sm {
  @include media("<note") {
    overflow-x: scroll;
  }
}

.fancy-table {
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  display: table;
  background-color: transparent;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  max-width: 100%;
  thead,
  tbody {
    width: 100%;
    max-width: 100%;
  }
  thead {
    overflow: hidden;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  tr {
    width: 100%;
    max-width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.02) !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.02);
    &:last-child {
      border-bottom: 0;
      border-bottom: none;
    }
    th,
    td {
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      padding: 5px;
      @include font-size(12px);
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
      @include media(">note") {
        @include font-size(14px);
        padding: 10px;
      }
      @include media(">tablet") {
        @include font-size(14px);
        padding: 10px 15px;
      }
      @include media(">laptop") {
        @include font-size(14px);
        padding: 20px 20px;
      }
    }
    th {
      background-color: #fff;
    }
    td {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

.section {
  &__lightgrey {
    background-color: $light-grey;
  }
}

// Video
video {
  max-width: 100%;
  height: auto;
}

// React Multi carousel
.react-multi-carousel-dot--active button {
  background: $color-alt !important;
  width: 24px !important;
  height: 24px !important;
}

// React Player
.react-player__shadow {
  position: absolute;
  left: auto;
  right: auto;
  top: calc(50% - 32px);
  background: #E2211C !important;
  box-shadow: 0 0 30px rgb(0 0 0 / 30%);
}

// Omnisend form
.soundest-form-embedded-v2 {
  flex-wrap: nowrap !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.soundest-form-embedded-v2-fields {
  flex: 1 1 60%;
  max-width: 60%;
}

.soundest-form-embedded-v2-submit {
  flex: 1 1 40%;
  max-width: 40%;
}

/* Form styles */

form {
  .field_group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 0;

    &_multi {
      flex-wrap: nowrap;

      @include media("<tablet") {
        flex-wrap: wrap;
      }
    }

    > div {
      flex: 1 1 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 1em;

      @include media("<tablet") {
        flex: 1 1 50%;
        max-width: 100%;
        margin-right: 0;
        margin: 1rem 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    label {
      flex: 1 1 45%;
      margin-right: 10px;
      margin-bottom: 0.3em;

      .req_str {
        color: $color-primary;
      }
    }

    textarea {
      padding: 0.6em 0.8em;
      min-height: 10em;
    }
    select {
      padding: 0.4em;
    }

    select,
    input,
    textarea {
      flex: 1 1 100%;
      max-width: 100%;
    }

    .btn-file {
      span {
        display: block;
      }
      input[type="file"] {
        margin-top: 1em;
      }
    }

    button {
      color: #fff;
      font-family: inherit;
      font-size: 18px;
      line-height: 1;
      height: 60px;
      text-transform: uppercase;
      font-weight: 500;
      background-color: $color-primary;
      text-transform: capitalize;
      padding: 0 1.4em;
      display: inline-block;
      width: auto;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      border: 2px solid #fff;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $color-alt;
      }
    }
  }
}
