@import "styles/settings/__settings";

.section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.posts {
  list-style: none;
  padding-left: 0;
  margin: 0;

  & > li {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  
}

.sidebar {
  padding:0 1rem;
  @include media(">desktop") {
    padding:0;
  }
  .categoriesList, .yearsList {
    padding:0;
    margin:0 0 30px 0;
    li {
      list-style-type: none;
      padding:0 0 10px 0;
      font-size: 0.875rem;
      a {
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}
